@import "bootstrap";


// Colors
$darkGradient: rgb(150, 12, 3);
$lightGradient: rgb(192, 12, 0);
$link: $lightGradient;
$alpha: .2;

$lightBackground: rgba($lightGradient, $alpha);

#keyword-search{
    background: $lightBackground;
    border: 1px solid $darkGradient;
    p{
      width:100%;
      clear:both;
    }
    input {
      width: 70%;
      float:left;
    }
    input.btn {
    width:20%;
    float:right;
    }
  }

.btn, select {
  border: 1px solid $darkGradient;
}

.well {
  background: $darkGradient; /* Old browsers */
  background: -moz-linear-gradient(top,  $darkGradient 0%, $lightGradient 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$darkGradient), color-stop(100%,$lightGradient)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $darkGradient 0%,$lightGradient 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $darkGradient 0%,$lightGradient 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $darkGradient 0%,$lightGradient 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $darkGradient 0%,$lightGradient 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$darkGradient', endColorstr='$lightGradient',GradientType=0 ); /* IE6-9 */
  border: 1px solid $darkGradient;
}

a {
  color:$lightGradient;
  padding: 4px 20px 4px 4px;
}

a:hover {
  text-decoration:none;
  padding: 4px 20px 4px 4px;
  background: $lightBackground;
  color: black;
}

footer.well {
  padding: 10px 0 10px 20px;
  clear:both;
  color:white;
  a {
    color:white;
    padding:0;
  }
  a:hover{
    padding:0;
    color:black;
  }
}

.container {
  width:90%;
  border: 4px solid #c00;
  margin: 0 auto;
  margin-top:30px; 
  padding: 20px;
  background:white;
}

#subject-btn {
  margin: -10px 0 0 10px;
}

#view-all-btn {
  width: 220px; // match the subject box
}

form + p { // 2nd paragraph in nav 
  margin: -10px 0 20px 0;
}

.admin {
  width: 200px;
  padding: 10px;
  border: 1px dashed grey;
  margin: 20px 0;
  background: whiteSmoke;
  a {padding: 0;}
}


header {
  color:white;
  background-color:#c00;
  h1 {font-size: 32px;}
  h2 {font-size: 28px;}
  p {
    font-size: 14px;
    margin: 20px 0 -10px 0;
  }
}

.flash-notice{
  clear:both;
}

#navbar-search {
  width: 100%;
}

#main-block {
  width: 100%;
}

@media (min-width: 980px) {

  header {
    p {
      width: 35%;
      float:right;
      text-align:right;
      margin: -50px 0 0 0;
    }
  }
  .admin {
    margin: 200px 0 20px 0;
  }

  #navbar-search {
    width: 30%;
    float:left;
   }

  #main-block {
    width: 70%;
    float:right;
  }

  #keyword-search {

    padding: 20px 20px 30px 20px;
    margin: 0 0 40px 0;

    p{
      float:left;
      margin: 8px 0 0 0;
    }
    input {
      float:right;
      width:200px;
      margin: -20px 12px 0 12px;
    }
    .btn{width:80px;float:right;}
  }

}